
.component-main {
	display: inline-block;
	margin-left: 20px;
	border: solid 1px #ddd;
	width: calc(80% - 65px);
	height: calc(100% - 40px);
	padding: 20px;
	vertical-align: top;

	a {
		display: inline-block;
		padding: 10px;
		border: solid 1px #ddd;
	}
}